.background {
    -fx-background-color: #e9eef2;
}
.controls{
	-fx-background-color: #bcbfc2;
}

.topBar{
	-fx-background-color: #379ddf;
}

.topBar-little{
	-fx-background-color: #379ddf;
	-fx-opacity: .85;
}

.currentSong {
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-background-color: #005e9e;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-songTitle{
	-fx-font-size: 28;
	-fx-font-family: "Segoe UI Light";
}

.label-artistName{
	-fx-font-size: 16;
	-fx-font-family: "Segoe UI Light";
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #e9eef2;
    -fx-control-inner-background: #e9eef2;
    -fx-background-color: #e9eef2;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #e9eef2;
    -fx-background-color: transparent, derive(#e9eef2,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#e9eef2,20%);
}

.context-menu {
    -fx-background-color: derive(#e9eef2,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: white;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.toggle-button {
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 50;
    -fx-background-color: #838e92;
    -fx-text-fill: #838e92;
}

.toggle-button:hover {
	-fx-background-color: #5d6568;
}

.toggle-button:selected {
  -fx-background-color: #005e9e;
}

.toggle-button:armed {
  -fx-background-color: #379ddf;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 50;
    -fx-background-color: #838e92;
    -fx-text-fill: #838e92;
}

.button:hover {
	-fx-background-color: #5d6568;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #379ddf;
}

.button:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        #379ddf 0%,
        #379ddf 49%,
        derive(#379ddf, 30%) 50%,
        derive(#379ddf, 30%) 99%
    );
}

.progress-bar > .track {
  -fx-text-box-border: #e9eef2;
  -fx-control-inner-background: #e9eef2;
}

.slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider .thumb {
    -fx-background-color: null;
}

.topButton{
	-fx-background-color: null;
}

.label-miniPlayerText{
	-fx-font-size: 16;
	-fx-font-family: "Segoe UI Regular";
	-fx-text-fill: white;
	-fx-font-weight: 900;
	-fx-opacity: .8;
}